/* Reset default browser styles */
@import 'normalize.css';

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
}

body {
    display: block;
}

.bar-con {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 8px 16px !important;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    background-color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    color: #000 !important;
    letter-spacing: 4px;
}

a {
    padding: 8px 16px;
    color: #000 !important;
    text-decoration: none;
}

b {
    font-weight: bolder;
}

.indent {
  display: inline-block;
  margin-left: 40px; /* Adjust for desired indent */
}

.nav-btns {
    float: right !important;
    cursor: pointer;
}

.bar-btn:hover {
    background-color: #f0f0f0e4 !important;
    padding: 12px;
    border-radius: 10px;
    color: #000 !important;
}

.display-con {
  position: relative;
  width: 100%;
  height: 600px; /* Adjust height as needed */
  overflow: hidden;
}

.landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.display-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 10px 0;
}

h1 .main-name {
    display: block;
    color: #fff;
    /* color: #fffffff3; */
    font-size: 3.5em;
    font-weight: bolder;
}

h1 .other-name {
    display: block;
    margin-left: 70% !important;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
}